<?xml version="1.0"?>
<configuration>
	<system.serviceModel>
		<bindings>
			<netTcpBinding>
				<binding name="NetTcpBinding_IWcfTurnService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="524288" maxBufferSize="65536" maxConnections="10" maxReceivedMessageSize="65536">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
					<reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
					<security mode="Message">
						<transport clientCredentialType="Windows" protectionLevel="EncryptAndSign"/>
						<message clientCredentialType="UserName"/>
					</security>
				</binding>
				<binding name="NetTcpBinding_IWcfService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="524288" maxBufferSize="65536" maxConnections="10" maxReceivedMessageSize="65536">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
					<reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
					<security mode="Message">
						<transport clientCredentialType="Windows" protectionLevel="EncryptAndSign"/>
						<message clientCredentialType="UserName"/>
					</security>
				</binding>
			</netTcpBinding>
		</bindings>
		<client>
			<endpoint address="net.tcp://localhost:10002/officesip.turn.server.n1" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IWcfTurnService" contract="TurnService1.IWcfTurnService" name="NetTcpBinding_IWcfTurnService">
				<identity>
					<certificate encodedValue="AwAAAAEAAAAUAAAAx+0Z4ce2RO01cCmJEahUq9OXI+EgAAAAAQAAAB4CAAAwggIaMIIBg6ADAgECAhASnC8t7386nEOzefhUHtyRMA0GCSqGSIb3DQEBBAUAMCAxHjAcBgNVBAMTFU9mZmljZVNJUCBUdXJuIFNlcnZlcjAeFw0wNjEyMzEyMDAwMDBaFw0xOTEyMzEyMDAwMDBaMCAxHjAcBgNVBAMTFU9mZmljZVNJUCBUdXJuIFNlcnZlcjCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEApLsrbhMeRpH/FQqICjcbNQ7qJNpVmlC+wPJZ4LsalKjqlAe07pbyiBFz87lyr0xXzjXTVyPJvgfbftLGSay5S5SU4GeLTBaJNfW+93TJXVMvBxOoxSC1uR6cKi3DioTTaSzsd5mgpThQ70cSb8xmgLkUTZTr9lqPD6r4qdX8RLMCAwEAAaNVMFMwUQYDVR0BBEowSIAQ6dm1HuUpolLSHUeEEDhfLKEiMCAxHjAcBgNVBAMTFU9mZmljZVNJUCBUdXJuIFNlcnZlcoIQEpwvLe9/OpxDs3n4VB7ckTANBgkqhkiG9w0BAQQFAAOBgQCdM58xLqQ5B7cjQaaucbwJoZpfjWXmDyQRxsbDXu+3lzqUgWsvu0TAl9ThiLkVuRC383mrSAmA25amEGS8Yb9sEdB4bx0/Q8bEZdOb8MYWSfDCVTlaHT8THSigCijm1HGV1C2+sFTX4nlRPpY6J1K2NzegFo9qto43dKtmIKNZSQ=="/>
				</identity>
			</endpoint>
			<endpoint address="net.tcp://localhost:10001/officesip" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IWcfService" contract="Service1.IWcfService" name="NetTcpBinding_IWcfService">
				<identity>
					<certificate encodedValue="AwAAAAEAAAAUAAAAvHClxm2BnRWsqBXa4na2iEZS6nAgAAAAAQAAAA8CAAAwggILMIIBdKADAgECAhCtI29FBQxvqE88nnLsVMGxMA0GCSqGSIb3DQEBBAUAMBsxGTAXBgNVBAMTEE9mZmljZVNJUCBTZXJ2ZXIwHhcNMDYxMjMxMjEwMDAwWhcNMTkxMjMxMjEwMDAwWjAbMRkwFwYDVQQDExBPZmZpY2VTSVAgU2VydmVyMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDr+5nwyATv0oO8mdRxRTwvmOMNbGai1oms6OqsyDrOB6sBGimwIWIsiQpyNJEaCYzuIFNlFifH6UZbP16d0ErTyAwlnpc619Ue6k56bAOK7Tye+01qjFM9UC3OYJq+T/+FjXjDT4X0reh3tvGPk5CkFTohExiun/+yO/4fRPpbuQIDAQABo1AwTjBMBgNVHQEERTBDgBBY+O92gFdFIKJ4AAABkqA7oR0wGzEZMBcGA1UEAxMQT2ZmaWNlU0lQIFNlcnZlcoIQrSNvRQUMb6hPPJ5y7FTBsTANBgkqhkiG9w0BAQQFAAOBgQDgb2DfxFybnl/O74pFVWq8TCrw25hR8uKrDfn2s3nqLeuW3xzvyaTQ7nUnj1U/n7oIrShJFIzkVjG+W9QjHqF9wnzOnlps9MKvPROHMMlR83V2gJVsyw7K15UG+IZek4KNDI9N9Loey2blKmvJT6kXOlNpg2YmpZb2rp3skLhMiQ=="/>
				</identity>
			</endpoint>
		</client>
	</system.serviceModel>
	<startup/></configuration>
